body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* .navbar {
    margin-bottom: 20px;
} */

.social-icons {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.social-icons a {
    display: block;
    margin-bottom: 10px;
}

.landing-page {
    text-align: center;
    padding: 50px 0;
}

.landing-page h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.landing-page p {
    font-size: 18px;
    margin-bottom: 40px;
}

.btn-primary {
    background-color: #ff007f;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
}

.btn-primary:hover {
    background-color: #ff4f9a;
}
